<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Arqueros</title>
</head>
<style>
    body {
        text-align: center;
    }

    .center {
        margin-left: auto;
        margin-right: auto;
    }

    table,
    th,
    td {
        text-align: center;
        border-collapse: collapse;
        border-radius: 25px;
        border: 2px solid #155f9c;
    }

    button {
        margin: 10px;
        border-radius: 2px;
    }

    .logo {
        height: 10%;
        width: 10%;
    }
</style>

<body>
    <h1>Listado de Arqueros</h1>

    <table class="center">
        <thead>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Presentación</th>
        </thead>
        <tbody>
            <% porteria.forEach(function(arquero){ %>
                <tr>
                    <td>
                        <%= arquero.apellido %>
                    </td>
                    <td>
                        <%= arquero.nombre %>
                    </td>
                    <td>
                        <%= arquero.presentarse() %>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>
    <a href="/inicio/porteria"><button>Volver</button></a>

</body>