<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selección Argentina</title>

    <link href="style.css" rel="stylesheet">
</head>

<body>
    <img class="logo" src="afa-seleccion-argentina-futbol-logo-0.png" />
    <h1>Plantel Argentino 2022</h1>
    <h3>Selección Argentina de Fútbol</h3>

    <button style="margin: 3px;" type="button" onclick="location.href='/inicio/lista';">Lista de jugadores
        convocados</button>
    <br>
    <button style="margin: 3px;" type="button" onclick="location.href='/inicio/entrenamiento';">Entrenamientos</button>

</body>

</html>